{% extends "blog/base.html" %}
{% load blog_tags %}
{% load crispy_forms_tags %}
{% block title %}Login{% endblock %}
{% block content %}

<h1>User Login</h1>
<p>
    Please, use the following form to log-in. 
    If you don't have an account <a href="{% url "blog:register" %}">register here</a>.
   </p>
   
<form method="POST">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-7 mb-0" style="display: block; margin: 0 auto;">
            {{form.username|as_crispy_field}}
        </div>
        <div class="form-group col-md-7 mb-0" style="display: block; margin: 0 auto;">
            {{form.password|as_crispy_field}}
        </div>
        
    </div>
    <br>
    <!-- <table>{{ form.as_table }}</table> -->
    <div class="content">
        <button type="submit" style="display: block; margin: 0 auto;" class="btn btn-success">Login</button>
        </div>


</form>



<div class="social">
    <ul>
    <li class="facebook">
    <a href="{% url "social:begin" "facebook" %}">
    Sign in with Facebook
    </a>
    </li>
    <li class="twitter">
        <a href="{% url "social:begin" "twitter" %}">
        Sign in with Twitter
        </a>
        </li>
        <li class="google">
            <a href="{% url "social:begin" "google-oauth2" %}">
            Sign in with Google
            </a>
            </li>
    </ul>
    </div>
    
<br>
<br>
<p>
    <a href="{% url "blog:reset_password" %}">
        Forgotten your password?
        </a>
    </p>

{% endblock %}