{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Rest your Password {% endblock %}

{% block content %}

<h1>Forgotten your Password</h1>
<p>Enter your e-mail address to obtain a new Password</p>

<form action="" method="post">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-7 mb-0" style="display: block; margin: 0 auto;">
            {{ form.email|as_crispy_field}}
        </div>
    </div>
    <br>
    <div class="content mb-0">
        <button type="submit" style="display: block; margin: 0 auto;" class="btn btn-success">Send e-mail</button>
    </div>

</form>

{% endblock %}